# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Virtual environments
venv/
env/

# Environment files

# IDE files
.vscode/
.idea/

# Flask uploads & logs
instance/
*.log

# Python installs
pip-wheel-metadata/
dist/
build/

# Cache
*.sqlite
*.db
.cache/
.pytest_cache/

# macOS files
.DS_Store

# Node (if used)
node_modules/
